<div class="main">
    <div class="container">
        <h2>Sign Up</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-fields">
                <input id="email" type="email" placeholder="Email Address" class="lg-text-input"
                    formControlName="email" />
            </div>

            <div class="input-fields">
                <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                    class="lg-text-input" formControlName="password" />
                <a class="toggle-password" (click)="showPassword = !showPassword">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2"
                            d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </a>
            </div>

            @if(this.passwordStrength) {
            <div class="password-strength">
                <div class="strength-meter">
                    <div class="strength-bar">

                    </div>
                </div>
                <span class="strength-text">
                    Weak
                </span>
            </div>
            }

            <div class="input-fields">
                <input id="confirm-password" [type]="showConfirmPassword ? 'text' : 'password'"
                    placeholder="Confirm Password" class="lg-text-input" formControlName="confirmPassword" />
                <a class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-width="2"
                            d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z" />
                        <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </a>
            </div>

            <div class="btn-wrapper">
                <button type="submit" class="btn-menu">Create Account</button>
            </div>

            <div class="toggle-auth">
                <P>Don't have an account?</P>
                <a [routerLink]="['/']">Log in</a>
            </div>

            @if(this.errorMessage) {
            <div class="auth-message-error">

            </div>
            }
        </form>

    </div>
</div>