<div class="main">
    <div class="container">
        <h2>Sign Up</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-fields">
                <input id="email" type="email" placeholder="Email Address" class="lg-text-input"
                    formControlName="email" />
            </div>

            <div class="input-fields">
                <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                    class="lg-text-input" formControlName="password" />
                <a class="toggle-password" (click)="showPassword = !showPassword">
                    <div [class]="showPassword ? 'eye-off-icon' : 'eye-icon'"></div>
                </a>
            </div>

            <div class="input-fields">
                <input id="confirm-password" [type]="showConfirmPassword ? 'text' : 'password'"
                    placeholder="Confirm Password" class="lg-text-input" formControlName="confirmPassword" />
                <a class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
                    <div [class]="showConfirmPassword ? 'eye-off-icon' : 'eye-icon'"></div>
                </a>
            </div>

            @if(!this.passwordsMatch && this.confirmPasswordHasInput) {
            <div class="match-error">
                <p>Passwords don't match x</p>
            </div>
            }

            @if(this.passwordsMatch) {
            <div class="passwords-match">
                <p>Passwords match ✓</p>
            </div>
            }

            <div class="btn-wrapper">
                <button type="submit" class="btn-menu">Create Account</button>
            </div>

            <div class="toggle-auth">
                <P>Don't have an account?</P>
                <a [routerLink]="['/']">Log in</a>
            </div>

            @if(this.errorMessage && this.confirmPasswordHasInput) {
            <div class="auth-message-error">
                <span class="error-icon"></span>
                <p>{{ this.errorMessage}}</p>
            </div>
            }

            @if(this.sentEmailForVerification){
            <div class="auth-message-success">
                <span class="success-icon"></span>
                <p>Check your email for verification.</p>
            </div>
            }
        </form>

    </div>
</div>